
@mixin dropin-animation(){
    -moz-animation-name: dropIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.35s;

    -webkit-animation-name: dropIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.35s;

    animation-name: dropIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.35s;
}

@mixin col($numCols) {

    @if $numCols == 1 {
        width: 8.3333333333333%;
    } @else if $numCols == 2 {
        width: 16.6666666666666%;
    } @else if $numCols == 3 {
        width: 25%;
    } @else if $numCols == 4 {
        width: 33.3333333333333%;
    } @else if $numCols == 5 {
        width: 41.6666666666666%;
    } @else if $numCols == 6 or $numCols == half{
        width: 50%;
    } @else if $numCols == 7{
        width: 58.3333333333333%;
    } @else if $numCols == 8 {
        width: 66.66666666666667%;
    } @else if $numCols == 9 {
        width: 75%;
    } @else if $numCols == 10 {
        width: 83.3333333333333%;
    } @else if $numCols == 11 {
        width: 91.6666666666666%;
    } @else {
        width: 100%;
    }

}
